frontend/build/
frontend/node_modules/
backend/node_modules/
backend/config.js
backend/storage/
frontend/src/Events-description.js
frontend/src/config.json
frontend/src/imgs/screenshot_imgs/*
frontend/src/imgs/workshop_imgs/*
frontend/src/styles/css/cardColumns.css
frontend/src/styles/css/cardColumns.css.map
albha.code-workspace
backend/mongo_createUser.txt
mongo_dev/