.content {
  margin-top: 3em;
  font-size: 1.2em;
}

.popoverButton {
  border-radius: 8px;
}

nav div ul li {
  padding-right: 0.1em;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 4.8em;
}

@media (min-width: 576px) {
  .content {
    margin-top: 3em;
    font-size: 1.2em;
  }

  body {
    /* Margin bottom by footer height */
    margin-bottom: 3em;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .content {
    margin-top: 4.5em;
    font-size: 1.2em;
  }
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 30s linear;
  height: 45px;
}

.nav {
  border-bottom: 0px;
}

.nav li a {
  line-height: 45px;
}

.nav-tabs > li.active > a {
  color: #3c5a78;
}

.nav-tabs > li > a {
  color: #b6b6b6;
}

.nav-tabs > li > a:hover{
  background-color: #222 !important;
  border-radius: 5px;
  color:#fff;
  border:0px;
}

.nav-tabs > li > a.active,
.nav-tabs > li > a.active:focus,
.nav-tabs > li > a.active:hover{
  background-color: #fff !important;
  border-radius: 0px;
  border:0px;
}

.row {
  margin-bottom: 1em;
}

.guildmember {
  cursor: default;
}

.card-body > ul > li {
  text-align: left;
}

.card {
  margin-top: 0.5em;
}

.image-gallery-content {
  max-width: 90%;
  height: auto;
}

body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url('../../imgs/background-img.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  min-height: 40px;
  line-height: 40px; /* Vertically center the text there */
  background-color: #3E4551;
  z-index: 100;
}

.footer .logolink-spacer {
  margin-right: 0.5em;
}

.footer .logolink {
   background-color: lightslategray;
   border-radius: 10px;
}